OLLAYA_URL=http://localhost:11435
OLLAYA_MODEL=laya:multilingual
OLLAYA_TIMEOUT=30

MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=dublinfix
MEDIA_DIR=media
MAX_PHOTO_BYTES=5000000
